{% extends 'base.html.twig' %}

{% block title %} | Reservas{% endblock %}

{% block body %}
<div class="main container">
    <h1>reservas</h1>
    <div class="reservas cabecera">
        <a class="btn btn-primary" href="{{ path('crear_reserva') }}"><span>agregar nueva reserva</span></a>
    </div>
    <div class="reservas contenido">
        {% for reserva in reservas %}
        <div class="postit {% if reserva.turno.turno == "comida"  %}comida{% else %}cena{% endif %}" onclick="location.href='{{ path('modificar_reserva', {id:reserva.id}) }}';">
            <div class="reserva">
                <h5>reserva: {{ reserva.id }}</h5>
                <p>socio: {{ reserva.socio.nombre }} {{ reserva.socio.apellido1 }} {{ reserva.socio.apellido2 }}</p>
                <p>fecha: {{ reserva.fecha | date('d-m-Y') }}</p>
                <p>turno: {{ reserva.turno.turno }}</p>
                <p>mesas: {% for mesa in reserva.mesas %} {{ mesa.mesa.numero}}, {% endfor %}</p>
                <p>comensales: {{ reserva.comensales }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="reservas footer">
    </div>
</div>
{% endblock %}