{% extends 'base.html.twig' %}

{% block title %} | Modificar reserva{% endblock %}

{% block body %}
    <div class="main container">

        <form name="reserva" action="{{ path('modificar_reserva', { 'id' : reserva.id }) }}" method="POST" id="modificarReserva">
            <div id="reserva">
                <div>
                    <label for="reserva_fecha" class="required">Fecha</label>
                    <input type="date" id="reserva_fecha" name="reserva[fecha]" required="required" class="js-datepicker form-control" value="{{ reserva.fecha | date('Y-m-d') }}" disabled>
                </div>
                <div>
                    <label for="reserva_turno_turno" class="required">Turno</label>
                    <input type="text" class="form-control" name="reserva[turno][turno]" value="{{ reserva.turno.turno }}" disabled>
                </div>
                <div>
                    <label for="reserva_comensales" class="required">Comensales</label>
                    <input type="text" id="reserva_comensales" name="reserva[comensales]" required="required" class="form-control" value="{{ reserva.comensales }}"></div>
                <div>
                    <label>Mesas seleccionadas y libres</label>
                    {% for todasMesas in todas_mesas %}
                        {% for mesasLibres in mesas_libres %}
                            {% if todasMesas.id == mesasLibres.id  %}
                                <input type="checkbox" class="checkbox" id="reservamesa-{{ todasMesas.id }}" name="mesas[]" data-reservaid="{{ todasMesas.id }}" data-nummesa="{{ todasMesas.numero }}" value="{{ todasMesas.id }}">mesa {{ todasMesas.numero }}
                            {% endif %}
                        {% endfor %}
                        {% for reservaMesa in reserva_mesa %}
                            {% if todasMesas.id == reservaMesa.mesa.id  %}
                                <input type="checkbox" class="checkbox" id="reservamesa-{{ todasMesas.id }}" name="mesas[]" data-reservaid="{{ todasMesas.id }}" data-nummesa="{{ todasMesas.numero }}" value="{{ todasMesas.id }}" checked>mesa {{ todasMesas.numero }}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="acciones col-2">
                    <div class="row">
                        <button type="submit" class="btn btn-primary" name="submit" value="submit" form="modificarReserva">modificar</button>
                    </div>
                    {% if reserva.factura is defined and reserva.factura != null %}
                        <div class="row">
                            <a class="btn btn-primary" href="{{ path('ver_factura_reserva', {id:reserva.id}) }}">ver factura</a>
                        </div>
                    {% else %}
                        <div class="row">
                            <a class="btn btn-primary" href="{{ path('pagar_reserva', {id:reserva.id}) }}">hacer cuentas</a>

                        </div>
                    {% endif %}
                    <div class="row">
                        <a class="btn btn-primary" href="{{ path('eliminar_reserva', {id:reserva.id}) }}">eliminar</a>
                    </div>
                </div>
            </div>
        </form>

    </div>
{% endblock %}