{% extends 'base.html.twig' %}

{% block title %} | Reservas{% endblock %}

{% block body %}
    {{ dump(reserva) }}
    {{ dump(facturaReserva) }}
    {{ dump(consumicionReserva) }}
    <div class="container factura">
        <h1>Factura</h1>
        <hr>
        <div class="row col-12 reserva">
            <div class="contenido">
                <div class="col-4 socio">
                    <p>socio: {{ reserva.socio.apellido1 | e }} {{ reserva.socio.apellido2 | e }}, {{ reserva.socio.nombre | e }}</p>
                </div>
                <div class="col-4 fecha">
                    <p>día: {{ reserva.fecha | date('Y-m-d') }}</p>
                </div>
                <div class="col-4">
                    <p>reserva: {{ reserva.id }}</p>
                </div>
            </div>
            <div class="contenido">
                <div class="col-4 turno">
                    <p>turno: {{ reserva.turno.turno }}</p>
                </div>
                <div class="col-4 comensales">
                    <p>comensales: {{ reserva.comensales }}</p>
                </div>
                <div class="col-4 mesas">
                    <p>mesas:
                        {% for mesas in reserva.mesas %}
                        {{ mesas.mesa.numero }},
                    {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row col-12 consumiciones">
            <div class="contenido">
                <div class="col-6 producto">
                    <p>producto</p>
                </div>
                <div class="col-2 cantidad">
                    <p>cantidad</p>
                </div>
                <div class="col-2 precio">
                    <p>precio</p>
                </div>
                <div class="col-2 total">
                    <p>importe</p>
                </div>
            </div>
            {% for consumicion_reserva in consumicionReserva %}
            <div class="contenido">
                <div class="col-6 producto">
                    <p>{{ consumicion_reserva.producto.nombre }}</p>
                </div>
                <div class="col-2 cantidad">
                    <p>{{ consumicion_reserva.cantidad }}</p>
                </div>
                <div class="col-2 precio">
                    <p>{{ consumicion_reserva.producto.precioUnitario | number_format(2, '.', ',') }}€</p>
                </div>
                <div class="col-2 total">
                    {% set total = consumicion_reserva.producto.precioUnitario * consumicion_reserva.cantidad %}
                    <p>{{ total | number_format(2, '.', ',') }}€</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row col-12 factura">
            <div class="contenido">
                <div class="col-6 producto">
                    total
                </div>
                <div class="col-2 cantidad">

                </div>
                <div class="col-2 precio">

                </div>
                <div class="col-2 total">
                    {% for factura_reserva in facturaReserva %}
                        <p>{{ factura_reserva.importe | number_format(2, '.', ',') }}€</p>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}