{% extends 'base.html.twig' %}

{% block title %} | Productos{% endblock %}

{% block body %}
    <div class="container productos">
        <h1>productos</h1>
        <a class="btn btn-primary" href="{{ path('crear_producto') }}"><span>agregar nuevo producto</span></a>
        {% for producto in productos %}
            <div class="row producto">
                <div class="contenido col-9">
                    <h2>producto: {{ producto.nombre | e }}</h2>
                    <p>precio: {{ producto.precioUnitario | number_format(2, '.', ',') }}€</p>
                    <p>stock: {{ producto.stock | e }} unidades</p>
                </div>
                <div class="acciones col-3">
                    <div class="row">
                        <a class="btn btn-primary" href="{{ path('eliminar_producto', {id:producto.id}) }}"><span>eliminar</span></a>
                    </div>
                    <div class="row">
                        <a class="btn btn-primary" href="{{ path('modificar_producto', {id:producto.id}) }}"><span>modificar</span></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}