{% extends 'base.html.twig' %}

{% block title %} | Index{% endblock %}

{% block body %}
<section class="container index">
    <div class="row">
        <a class="btn btn-primary rojo" href="{{ path('noticia') }}"><span>noticias</span></a>
        <a class="btn btn-primary morado" href="{{ path('socio') }}"><span>socios</span></a>
        <a class="btn btn-primary azul" href="{{ path('reserva') }}"><span>reservas</span></a>
        <a class="btn btn-primary verde" href="{{ path('producto') }}"><span>productos</span></a>
        <a class="btn btn-primary verde-oscuro" href="{{ path('proveedor') }}"><span>proveedores</span></a>
        <a class="btn btn-primary amarillo" href="#"><span>gastos</span></a>
        <a class="btn btn-primary naranja" href="{{ path('ingresos') }}"><span>ingresos</span></a>
        <a class="btn btn-primary gris" href="#"><span>pedidos</span></a>
    </div>
</section>
{% endblock %}